# goofy-os System Configuration
# This file contains system information and metadata

[system]
name = "goofy-os"
version = "0.1.0"
build_date = "2025-08-20"
author = "goofy-os team"

[hardware]
default_architecture = "x86_64"
default_memory_size = "128MB"

[features]
graphics = true
desktop = true
applications = true
networking = false
audio = false

[debug]
serial_logging = true
framebuffer_debug = false
